<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="proto_localization">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0020831 -0.039128 -0.0085967"
        rpy="0 0 0" />
      <mass
        value="1.6017" />
      <inertia
        ixx="0.03136"
        ixy="5.8125E-06"
        ixz="1.2988E-07"
        iyy="0.0012673"
        iyz="5.2421E-07"
        izz="0.032422" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://proto_localization/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://proto_localization/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>