<?xml version="1.0"?>
<launch>

  <!-- twist_mux.launch -->

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen">
    <param name="link_name" value="base_link" />
  </node>



  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find wetexplorer_control)/config/twist_mux.yaml" />

  </node>


  <include file="$(find wetexplorer_control)/launch/teleop.launch">
  </include>


  <node name="velocity_limiter" pkg="wetexplorer_control" type="velocity_limiter_node" output="screen">
  </node>

  <node name="forward_kinematics" pkg="wetexplorer_control" type="forward_kinematics_node" output="screen">
      <!-- Add any required parameters or remappings here -->
  </node>

   <node name="forward_kinematics_2" pkg="wetexplorer_control" type="forward_kinematics_rpm" output="screen">
      <!-- Add any required parameters or remappings here -->
  </node>


  <node name="inverse_kinematics" pkg="wetexplorer_control" type="inverse_kinematics_node" output="screen">
      <!-- Add any required parameters or remappings here -->
  </node>





</launch>
