<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find proto_pkg)/urdf/proto_pkg.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find proto_pkg)/urdf.rviz" />
    
  
  <!-- Publicar la transformación estática para base_link -->
  

  <!-- Publicar la transformación estática entre base_link e imu_tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_imu_tf" args="0.07776 -0.0027 0.02915 -1 0 0 0 base_link imu_tf" />
  <!-- Publicar la transformación estática entre base_link e imu_tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_gps_tf" args="0 0.55 -0.009 0 0 0 1 base_link gps_tf" />
  <node pkg="readings_corrections" type="odom_gps.py" name="imu_to_base_link" output="screen" />

</launch>
