<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="proto_pkg">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00228078676420934 0.0393894166894618 -0.00833190683825412"
        rpy="0 0 0" />
      <mass
        value="1.60409787013163" />
      <inertia
        ixx="0.0313574851242788"
        ixy="5.80519164590616E-06"
        ixz="-5.34231711924494E-07"
        iyy="0.00126850441212243"
        iyz="-5.10788430666222E-07"
        izz="0.032423529498636" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://proto_pkg/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://proto_pkg/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>