<?xml version="1.0" encoding="utf-8"?>





<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Wetexplorer">

  
  <!-- <xacro:include filename="$(find wetexplorer_description)/urdf/camera.xacro" /> -->
  <xacro:include filename="$(find wetexplorer_description)/urdf/cylinder_inertia.xacro" />
  <xacro:include filename="$(find wetexplorer_description)/urdf/chassis_static.xacro" />
    
  <xacro:include filename="$(find wetexplorer_description)/urdf/tracks/tracks_static.xacro" />
  


  <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/aluminium_frame.xacro" />
  <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/central_frame.xacro" />
  <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/imu.xacro" />
  <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/gps.xacro" /> -
  <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/gas_analyzer.xacro" />
  <!-- <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/linear_actuator.xacro" /> -->
  <xacro:include filename="$(find wetexplorer_description)/urdf/front_wheel.xacro"/>
  <xacro:include filename="$(find wetexplorer_description)/urdf/wheel_controller.xacro"/>
  <xacro:include filename="$(find wetexplorer_description)/urdf/accesories/lift_frame.xacro"/>
  <xacro:include filename="$(find wetexplorer_description)/urdf/camera1.xacro"/>
  <!-- <xacro:include filename="$(find wetexplorer_description)/urdf/camera2.xacro"/> -->
  <xacro:include filename="$(find wetexplorer_description)/urdf/gazebo.xacro"/>
  <xacro:include filename="$(find wetexplorer_description)/urdf/lift_mechanism.xacro"/>
  <xacro:property name="mu" value="0.7"/>
  <xacro:property name="position_left" value="0.3054"/>
  <xacro:property name="position_right" value="-0.3054"/>
  <xacro:front_wheel left_right="left" radius="0.075" length="0.01" position="${position_left}" mu="${mu}"/>
  <xacro:front_wheel left_right="right" radius="0.075" length="0.01" position="${position_right}" mu="${mu}"/>
  <xacro:wheel_control name="wheels"/>
</robot>