<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gps">

  

  <link
    name="aluminium_frame_link">
    <inertial>
      <origin
        xyz="-0.218764891012934 -8.38685090786839E-10 0.157787415245755"
        rpy="0 0 0" />
      <mass
        value="0.152423049089633" />
      <inertia
        ixx="0.000861169405048017"
        ixy="3.22493036959714E-13"
        ixz="-4.65418334238923E-07"
        iyy="8.49282294048129E-05"
        iyz="-4.14059442708122E-12"
        izz="0.000897672015919648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wetexplorer_description/meshes/WETExplorer/gas_analyzer_support_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/extra/aluminium_frame_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="aluminium_frame_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="aluminium_frame_link" />
    <axis
      xyz="0 0 0" />
  </joint>


  <gazebo reference="aluminium_frame_link">
      <material>Gazebo/LightGrey</material>
  </gazebo>

</robot>
