<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

  <!-- IMU Link -->
  <link name="imu_link">
    <inertial>
      <origin xyz="-0.00144144958218404 8.57757393428608E-05 0.000661614742153149" rpy="0 0 0" />
      <mass value="0.00959464796722065" />
      <inertia 
        ixx="1.30281027931082E-06" 
        ixy="-1.56746685836304E-11" 
        ixz="4.93823028160914E-11" 
        iyy="1.27869196687108E-06" 
        iyz="-6.22065563257926E-09" 
        izz="2.51111665492873E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wetexplorer_description/meshes/extra/imu_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wetexplorer_description/meshes/extra/imu_link.STL" />
      </geometry>
    </collision> -->
  </link>

  <!-- IMU Joint -->
  <joint name="imu_joint" type="fixed">
    <origin xyz="0.00278 0 0.16463" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
    <axis xyz="0 0 1" />
  </joint>

  <gazebo reference="imu_link">
      <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo>

    <plugin filename="gz-sim-imu-system"
        name="gz::sim::systems::Imu">
    </plugin>

    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <bodyName>imu_link</bodyName>
      <update_rate>250.0</update_rate>
      <visualize>true</visualize>
      <topic>imu/data</topic>
    </sensor>

    <!-- <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
    
      <updateRate>250.0</updateRate>
      <bodyName>imu_link</bodyName>
      <topicName>imu/data</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.00</headingDrift>
      <headingGaussianNoise>0.0</headingGaussianNoise>
    </plugin> -->
  </gazebo>


</robot>
