<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

  <link
    name="imu_link_target">
    <inertial>
      <origin
        xyz="0.0055655602260675 -0.00292820256170392 -0.00130118633552501"
        rpy="0 0 0" />
      <mass
        value="0.0218886437543552" />
      <inertia
        ixx="4.619031605549E-06"
        ixy="6.09459742090583E-07"
        ixz="-6.70691041223252E-07"
        iyy="3.90481536378184E-06"
        iyz="3.27283112860456E-07"
        izz="6.9165264373137E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wetexplorer_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wetexplorer_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint_target"
    type="fixed">
    <origin
      xyz="0.06745 0 0.16966"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link_target" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="imu_link">    
  </link>

  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0.06745 0 0.16966"
      rpy="-3.141592654 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <gazebo reference="imu_link_target">
      <material>Gazebo/Grey</material>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>250</update_rate>
        <enable_orientation>1</enable_orientation>
        <visualize>true</visualize>
        <topic>imu/data</topic>
        <gz_frame_id>base_link</gz_frame_id>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>

      <sensor name="imu_sensor_heading" type="imu">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <enable_orientation>1</enable_orientation>
        <visualize>true</visualize>
        <topic>imu_heading/data</topic>
        <gz_frame_id>base_link</gz_frame_id>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>         

          <orientation>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
                <bias_mean>0.000001</bias_mean>
                <bias_stddev>0.000000</bias_stddev>
              </noise>
            </z>
          </orientation>     

        </imu>
      </sensor>
  </gazebo>


 
   

    <!-- <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
    
      <updateRate>250.0</updateRate>
      <bodyName>imu_link</bodyName>
      <topicName>imu/data</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.00</headingDrift>
      <headingGaussianNoise>0.0</headingGaussianNoise>
    </plugin> -->



</robot>
