<launch>
  <!-- Load the robot description parameter from the xacro file -->
  <!-- <param name="robot_description" command="$(cat $(find maxxii)/urdf/robot.urdf)" /> -->
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find maxxii)/urdf/robot.urdf" />
  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find husky_description)/urdf/robot.xacro" /> -->
  <!-- Launch RViz -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find maxxii)/rviz/default.rviz" required="true" /> -->
  <!-- Launch RViz with default configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="" required="true" />
</launch>
