<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="max_light_remastered">
  <link
    name="chassis">
    <inertial>
      <origin
        xyz="0.010639 -1.5867E-06 0.059548"
        rpy="0 0 0" />
      <mass
        value="25" />
      <inertia
        ixx="0.036113"
        ixy="4.1487E-07"
        ixz="-0.0003018"
        iyy="0.031777"
        iyz="2.5523E-07"
        izz="0.062176" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_remastered/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>



    <joint name="chassis_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="chassis"/>
      <axis xyz="0 0 0"/>
    </joint>


  <link
    name="power_pulley_right_link">
    <inertial>
      <origin
        xyz="-0.078721 -0.30457 0.0704"
        rpy="0 0 0" />
      <mass
        value="0.35" />
      <inertia
        ixx="0.00053897"
        ixy="-2.9966E-20"
        ixz="-1.3954E-18"
        iyy="0.001058"
        iyz="2.1649E-19"
        izz="0.00053897" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/power_pulley_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.41176 0.41176 0.41176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/power_pulley_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="power_pulley_right_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="power_pulley_right_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="power_pulley_left_link">
    <inertial>
      <origin
        xyz="-0.078721 0.30443 0.0704"
        rpy="0 0 0" />
      <mass
        value="0.35" />
      <inertia
        ixx="0.00053897"
        ixy="-3.7325E-20"
        ixz="-1.2964E-18"
        iyy="0.001058"
        iyz="2.2374E-19"
        izz="0.00053897" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/power_pulley_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.41176 0.41176 0.41176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/power_pulley_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="power_pulley_left_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="power_pulley_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="track_left_link">
    <inertial>
      <origin
        xyz="-0.0001779 0.3045 -0.043666"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.04031"
        ixy="1.0901E-19"
        ixz="-0.010974"
        iyy="0.14721"
        iyz="1.0426E-17"
        izz="0.1123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/track_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/track_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="track_left_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="track_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="track_right_link">
    <inertial>
      <origin
        xyz="-0.0001779 -0.3045 -0.043666"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.04031"
        ixy="-1.0048E-17"
        ixz="-0.010974"
        iyy="0.14721"
        iyz="-5.2198E-18"
        izz="0.1123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/track_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/track_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="track_right_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="track_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pulleys_left_link">
    <inertial>
      <origin
        xyz="-0.024058 0.3045 -0.098307"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.0064758"
        ixy="-1.9692E-14"
        ixz="8.0179E-08"
        iyy="0.0081222"
        iyz="1.9683E-12"
        izz="0.0064765" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulleys_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.41176 0.41176 0.41176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulleys_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pulleys_right_link"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pulleys_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pulleys_right_link">
    <inertial>
      <origin
        xyz="-0.024058 -0.3045 -0.098307"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.0064758"
        ixy="-1.9692E-14"
        ixz="8.0179E-08"
        iyy="0.0081222"
        iyz="1.9683E-12"
        izz="0.0064765" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulleys_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.41176 0.41176 0.41176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulleys_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pulleys_right_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pulleys_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pulley_support_left_link">
    <inertial>
      <origin
        xyz="0.010549 0.30555 -0.039386"
        rpy="0 0 0" />
      <mass
        value="1.5" />
      <inertia
        ixx="0.0016086"
        ixy="7.9893E-10"
        ixz="-0.001062"
        iyy="0.010902"
        iyz="4.4205E-09"
        izz="0.0092936" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulley_support_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.05098 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulley_support_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pulley_support_left_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pulley_support_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pulley_support_right_link">
    <inertial>
      <origin
        xyz="0.01055 -0.30555 -0.039386"
        rpy="0 0 0" />
      <mass
        value="1.5" />
      <inertia
        ixx="0.0016085"
        ixy="5.4128E-10"
        ixz="-0.001062"
        iyy="0.010902"
        iyz="4.4903E-09"
        izz="0.0092937" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulley_support_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.05098 0.023529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/pulley_support_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pulley_support_right_link"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pulley_support_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>