<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="max_light_pkg">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.35425640166998E-07 3.28216849605566E-06 2.19990104377214E-06"
        rpy="0 0 0" />
      <mass
        value="14.6921624554222" />
      <inertia
        ixx="0.134518024186084"
        ixy="4.16517669374262E-07"
        ixz="-0.0243729105907269"
        iyy="0.367422616584132"
        iyz="2.64074275227996E-07"
        izz="0.319923962428278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://max_light_pkg/meshes/collision_chassis.STL" />
      </geometry>
    </collision>
  </link>
</robot>
