<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find max_light_pkg)/urdf/max_light_pkg.urdf" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find max_light_pkg)/rviz/viewer.rviz" />
  <!-- Static Transform Publisher between map and base_link -->
  <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" 
        args="0 0 0 0 0 0 map base_link" />
</launch>

