<?xml version="1.0"?>
<launch>

<env name="GAZEBO_MODEL_PATH" value ="$(find max_light_pkg)/models"/>
<arg name="world_name" default="$(find max_light_pkg)/worlds/wetland.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.4"/>
  <arg name="yaw" default="0.0"/>

  <!-- Optionally disable teleop control -->
  <arg name="joystick" default="true" />

  <group ns="$(arg robot_namespace)">

    <!-- <group if="$(arg multimaster)">
      <include file="$(find husky_description)/launch/description.launch" >
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
      </include>

      <include file="$(find multimaster_launch)/launch/multimaster_gazebo_robot.launch">
        <arg name="gazebo_interface" value="$(find husky_control)/config/gazebo_interface.yaml" />
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
      </include> -->

      <!-- For multimaster bringup, need to load the controller config -->
      <!-- <rosparam command="load" file="$(find husky_control)/config/control.yaml" />
    </group> -->

    <!-- For single master bringup, run robot control on the gazebo master -->
    <!-- Note that husky_description/description.launch is already included in husky_control/control.launch. -->
    <!-- <group unless="$(arg multimaster)"> -->
    <include file="$(find max_light_pkg)/launch/control.launch">
    </include>
    <include file="$(find husky_control)/launch/teleop.launch">
        <arg name="joystick" value="$(arg joystick)" />
    </include>
    <!-- </group> -->

    

    <!-- Spawn robot in gazebo -->
    <node name="spawn_maxxii_model" pkg="gazebo_ros" type="spawn_model"
        args="-x 0
              -y 0
              -z 0.5
              -Y 1
              -unpause
              -urdf
              -param robot_description
              -model robot
              -robot_namespace $(arg robot_namespace)" />

  </group>
  

</launch>
